.env
*.keystore
*.jks
local.properties
**/build/
**/.gradle/
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
!notif-mp.apk
output-metadata.json
*.iml
.idea/
*.log
google-services.json
*.hprof
proxy/node_modules/
